<h1> Edit this post! </h1>

<%= form_for @post do |f| %>
	Name: <%= f.text_field :title, placeholder: "title" %>
	<%= f.text_field :content, placeholder: "content"%>
	<%= f.submit "Edit post!" %>

<% end %>
